# --- Web API ---
fastapi
uvicorn[standard]

# --- Base de données ---
sqlalchemy
psycopg2-binary

# --- Traitement de données ---
pandas
python-dotenv
python-multipart   # pour UploadFile

# --- Scheduler pour automatisation ---
apscheduler

# --- Connexion SFTP ---
paramiko

# --- Encodage / compatibilité ---
charset-normalizer  # 👈 corrige ton erreur actuelle
